@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(responsivesliders.css);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 100%;
    overflow: hidden;
    transition: width 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.5);
    padding: 5px 0;
}

.sidebar:hover {
    width: 200px;
    overflow: visible;
}

.sidebar:hover .bottom-menu a .text,
.sidebar:hover>ul>li>a .text {
    display: inline;
    opacity: 1;
    transition-delay: 0s;
}

.sidebar>ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar ul li {
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-right: 30px !important;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.sidebar>ul>li>a .fas,
.bottom-menu a .fas {
    font-size: 24px;
    min-width: 30px;
}

.sidebar ul li a .fas {
    margin: 0 10px;
}

.sidebar ul li a .text {
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    transition: opacity 0.5s ease, width 0.5s ease;
}

.sidebar:hover ul li a .text {
    opacity: 1;
    width: auto;

}

.sidebar>ul {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bottom-menu {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.bottom-menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

.bottom-menu a .fas {
    margin-right: 10px;
}

.bottom-menu a .text,
.sidebar>ul>li>a .text {
    display: none;
    transition: opacity 0.3s ease, display 0s 0.3s;
}

.slider-wrap {
    position: relative;
    display: flex;
    justify-content: center;
}

.slider-container,
.slider-container-home {
    position: absolute;
    top: 50%;
    z-index: 999;
    width: 400px;
}

.slider-container {
    margin-top: -16%;
}

.slider-container-home {
    margin-top: -13%;
}

.welcome-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -15%);
    text-align: center;
    backdrop-filter: blur(100px) !important;
    padding: 60px;
    border-radius: 10%;
}

.profile-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.welcome-banner h1 {
    font-size: 3em;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

.text {
    cursor: pointer !important;
}

@media only screen and (max-width: 480px) {
    .sidebar {
        width: 40px;
    }

    .sidebar:hover {
        width: 140px;
    }

    .welcome-banner {
        transform: translate(-40%, 50%);
        padding: 20px;
    }

    .welcome-banner h1, .text {
        font-size: 1em;
    }

    .sidebar>ul>li>a .fas, .bottom-menu a .fas {
        font-size: 15px;
    }

    .profile-pic {
        width: 80px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 599px) {
    .sidebar {
        width: 45px;
    }

    .sidebar:hover {
        width: 145px;
    }
    
    .welcome-banner {
        transform: translate(-40%, 60%);
        padding: 20px;
    }

    .welcome-banner h1 {
        font-size: 2em;
    }

    .profile-pic {
        width: 90px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .sidebar {
        width: 50px;
    }

    .sidebar:hover {
        width: 180px;
    }

    .welcome-banner {
        transform: translate(-40%, 70%);
        padding: 20px;
    }

    .welcome-banner h1 {
        font-size: 2.2em;
    }

    .profile-pic {
        width: 100px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .sidebar {
        width: 55px;
    }

    .sidebar:hover {
        width: 200px;
    }

    .welcome-banner h1 {
        font-size: 2.5em;
    }

    .welcome-banner {
        transform: translate(-40%, 80%);
        padding: 20px;
    }

    .profile-pic {
        width: 110px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .sidebar {
        width: 60px;
    }

    .sidebar:hover {
        width: 220px;
    }

    .welcome-banner {
        transform: translate(-40%, 80%);
        padding: 20px;
    }

    .welcome-banner h1 {
        font-size: 2.8em;
    }

    .profile-pic {
        width: 120px;
    }
}

@media only screen and (min-width: 1281px) and (max-width:1799px){
    .sidebar {
        width: 60px;
    }

    .sidebar:hover {
        width: 250px;
    }

    .welcome-banner {
        transform: translate(-40%, 70%);
        padding: 20px;
    }

    .welcome-banner h1 {
        font-size: 3em;
    }

    .profile-pic {
        width: 150px;
    }
}

@media only screen and (max-width: 1799px) {
    .rslides {
        display: none;
    }

    body {
        background: rgb(213, 6, 235);
        background: linear-gradient(90deg, rgba(213, 6, 235, 1) 0%, rgba(0, 212, 255, 1) 100%);
    }
}