.welcome-banner {
    position: fixed;
    width: 40%;
    height: auto;
    top: 5%;
    left: 35%;
    padding: 0;

    @media only screen and (max-width: 1799px) {
        &__h1 {
            font-size: 1rem;
        }

        &__img {
            width: 8rem;
        }
    }
}